body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


/*typography*/
h1 {
    font-size: 50px;
    
}
h2{
    font-size: 40px;
    font-weight: 5px;
}
p{
    color: gray;
    text-align: justify;
    font-size: 20px;
    padding-bottom: 5px;
}
section {
   
    height: 750px;
    width: 100%;
   
}


.top-part {   
    width:100%; 
    background-image: url("images/header-bg.png");
    background-repeat:no-repeat; 
    background-position: center;
    padding-bottom: 150px;      
}


.left-half-width{
    width: 30%;
    float: left;
    margin-left:15%;  
    margin-top: 10%; 
   
   

}
.right-half-width{
    width: 40%;
    margin-left:5%; 
    overflow:hidden;
   
}

.right-half-width img{
    width: 100%;
    height: 800px; 
   
}
.text-highlight{
    color:#EC4C7A ;
    font-weight: 700px;
    letter-spacing: 5px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,#e75a82, #EC4C7A);
    padding: 7px; 
    color: white;
    border-radius: 3px;
    font-weight: 700; 
}

/*---biography Section-----*/
.biography{
    width: 100%;
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 100px;  
   

}

.left-half-biography {
    float: left;
    overflow: hidden;
    width: 40%;
    margin-left: 5%;



}

.right-half-biography{
    width: 40%;
    float: left;
    overflow: hidden;
    margin-left: 5%;
    margin-top: 150px;
    
}

.left-half-biography img{
    width: 100%;
    min-height: 650px;
}

/*---Latest work Section-----*/
.latest-work{
    padding-top:50px;
    padding-bottom: 30px;
    width: 100%;
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position: center;
}
.latest-work{
    width: 100%;
    text-align: center;
}

.project1{
    float: left;
    overflow: hidden;
    width:25%;
    margin-left:10.5%;
}
.project2{
    float: left;
    overflow: hidden;
    margin-left:2%;
    width: 25%;

}
.project3{
    float: left;
    overflow: hidden;
    width: 25%;
    margin-left: 2%;
    margin-right: 10.5%;
}

.project img{
    width: 100%;
    
}

.project{
    transition: transform .2s;
}

.project:hover{
   
    transform: scale(1.1);
}